::ng-deep{


.key-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.key-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.key-label {
  font-size: 14px;
}

.dark-mode table {
  color: rgb(255, 255, 255);
  background-color:#232323;


}
.dark-mode .table1 {
  color: rgb(255, 255, 255);
  background-color:#232323;

}

.dark-mode td{
  color: rgb(255, 255, 255);
  background-color:#232323;
}
.prod{
color: #037400;
border: #037400 solid 2px;
background-color: #A9FFA7;
width: 30px;
border-radius:6px;
}
.dark-mode .product{
  color: rgb(0, 0, 0);
  background-color:#232323;
  border: #555555 solid 1px;
}
.dark-mode .input{
border: #232323;
  background-color:black;
}
.dark-mode .option1{
  color: rgb(255, 255, 255);
  background-color: #232323;
  border: #555555 solid 1px;
}

.dark-mode .option2{
  color: white;
  background-color: #232323;
  border: #555555 solid 1px;
}
.dark-mode .option3{
  color: white;
  background-color: #232323;
  border: #555555 solid 1px;
}
.dark-mode .option4{
  color: white;
  background-color: #232323;
  border: #555555 solid 1px;
}


.dark-mode .se{
  color: white;
}

.dark-mode input {
  color: white;
  background-color: black;
}


.dark-mode p {
  color: white;

}



}
