::ng-deep{


.key-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.key-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.key-label {
  font-size: 14px;
}

.dark-mode table {
  color: gray;
  background-color: #050619;
}
.dark-mode .table {
  color: gray;
  background-color: #050619;
}

.dark-mode td{
  color: gray;
  background-color: #050619;
}
.prod{
color: #037400;
border: #037400 solid 2px;
background-color: #A9FFA7;
width: 30px;
border-radius:6px;
}
.dark-mode .product{
  color: gray;
  background-color: #050619;
}
.dark-mode input{
  color: gray;
  background-color: #050619;
}

}
